@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px;
}

.tacos {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: (4, auto);
    column-gap: 20px;
}

footer {
    background-color: #b74c13;
    padding: 24px

}

img {
    height: 200px;
}

nav {
    border-bottom: 1px rgb(117, 111, 111);
    background-color: #B33F00;
    padding: 16px
}

a {
    text-decoration: none;

  }

a:hover {
    color: green;
}
